PREPROCESSING

In [44]:
# import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

In [45]:
#import tensorflow
import tensorflow as tf

In [46]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [47]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [48]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [49]:
# Get the counts of each application type in the 'APPLICATION_TYPE' column
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [50]:
# Choose a cutoff value for the count of application types below which they will be replaced
cutoff_value = 500

# Create a list of application types to be replaced with "Other" based on the cutoff value
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace the selected application types with "Other" in the DataFrame
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check the value counts of the 'APPLICATION_TYPE' column after the replacements
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [51]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [52]:
# Look at CLASSIFICATION value counts >1
classification_counts_2 = classification_counts[classification_counts > 1]

# Display the filtered value counts
print(classification_counts_2)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [53]:
# Choose a cutoff value for the count of classifications below which they will be replaced
cutoff_value = 1500

# Create a list of classifications to be replaced with "Other" based on the cutoff value
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace the selected classifications with "Other" in the DataFrame
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check the value counts of the 'CLASSIFICATION' column after the replacements
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [54]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

application_df_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [55]:
# Split the preprocessed data into features (X) and target (y) arrays
X = application_df_dummies.drop(columns='IS_SUCCESSFUL')
y = application_df_dummies['IS_SUCCESSFUL']

# Split the data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [56]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Compile, Train and Evaluate the Model

In [57]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 = 158
hidden_nodes_layer2 = 79

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 158)               6952

 dense_7 (Dense)             (None, 79)                12561

 dense_8 (Dense)             (None, 1)                 80

=================================================================
Total params: 19,593
Trainable params: 19,593
Non-trainable params: 0
_________________________________________________________________

In [71]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [72]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
858/858 [==============================] - 3s 2ms/step - loss: 0.5460 - accuracy: 0.7365
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7371
Epoch 3/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7376
Epoch 4/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7380
Epoch 5/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7381
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7379
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7382
Epoch 8/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7395
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7390
Epoch 10/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5394 - accuracy: 0.7386
Epoch 11/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7376
Epoch 12/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7389
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7384
Epoch 14/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7394
Epoch 15/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7397
Epoch 16/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 17/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7394
Epoch 18/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7400
Epoch 19/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7397
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7403
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7396
Epoch 23/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7396
Epoch 24/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7396
Epoch 26/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7396
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7401
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7403
Epoch 29/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7404
Epoch 30/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5363 - accuracy: 0.7397
Epoch 31/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5355 - accuracy: 0.7399
Epoch 32/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7396
Epoch 33/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7396
Epoch 34/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7395
Epoch 35/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7404
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 37/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7406
Epoch 38/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7404
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 40/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7399
Epoch 41/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7404
Epoch 42/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7407
Epoch 43/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7407
Epoch 44/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7397
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7402
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7395
Epoch 47/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7405
Epoch 48/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7406
Epoch 49/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7406
Epoch 50/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7405
Epoch 51/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7410
Epoch 52/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 53/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7405
Epoch 54/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 55/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7410
Epoch 56/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 57/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7402
Epoch 58/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 59/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7407
Epoch 60/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7412
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7404
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7404
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7410
Epoch 64/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5341 - accuracy: 0.7406
Epoch 65/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7405
Epoch 66/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7413
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7410
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7405
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7408
Epoch 71/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5333 - accuracy: 0.7406
Epoch 72/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7409
Epoch 73/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7409
Epoch 74/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7406
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7409
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7413
Epoch 77/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7412
Epoch 78/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7408
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7404
Epoch 80/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7406
Epoch 81/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7411
Epoch 82/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7412
Epoch 83/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 84/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5345 - accuracy: 0.7406
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7414
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7408
Epoch 87/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7416
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7410
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7415
Epoch 90/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7405
Epoch 91/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7408
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7403
Epoch 93/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7410
Epoch 94/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7408
Epoch 95/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5325 - accuracy: 0.7403
Epoch 96/100
858/858 [==============================] - 6s 7ms/step - loss: 0.5330 - accuracy: 0.7417
Epoch 97/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7407
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7416
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7406
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7412

In [76]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5844 - accuracy: 0.7248 - 306ms/epoch - 1ms/step
Loss: 0.5844210982322693, Accuracy: 0.724781334400177

In [77]:
# Export HDF5 file
nn.save("outputs/alphabet-soup-model.h5")